extends layout.pug 

block First page 
    if error 
        p.error Please , fill the line 

    if success 
        p.success Nice , saved 

    if deleted
        p.success deleted 

    form.form(action='/add' method='POST')
        input.input(type="text" placeholder='Write here...' name='todo')
        button.btn Add 
    div.todos 
            if todos.length 
                each todo in todos
                    p.todo 
                        if todo.done
                            a.done(href=`/${todo.id}/update`) #{ todo.description }
                        else
                            a.undone(href=`/${todo.id}/update`) #{ todo.description }
                        a.delete(href=`/${todo.id}/delete`)
                            img(src='https://thumbs.dreamstime.com/b/trash-bin-garbage-icon-flat-style-bucket-vector-illust-illustration-isolated-background-basket-business-concept-130598967.jpg' alt='delete')
            else 
                p.todo NO TO DO available

